
* {
    margin: 0;
  }
  body {
    color: white;
  }

.main{
    display:flex;
    flex: 1;
    flex-direction: column;
    background-color: blue;
    height: 100vh;
}

.main p{
    margin-right: 15px;
}

.header p:hover{
    color: red;
}

.header{
    display: flex;
    flex-direction: row-reverse;
    height: 8%;
    background-color: aquamarine;
    align-items: center;
}
.birinci{
    background-color: yellowgreen;
    display: flex;
    flex-grow: 1;
    flex-wrap: unset;
   
}
.ikinci{
    background-color: blueviolet;
    display: flex;
    flex-wrap: unset;
    flex-grow: 15;
}
.orta{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    margin: 0;
}
.footer{
    height: 5%;
    background-color: aqua;
}